:root{
	--claire: #009879;
	--mclaire: #FFD344;
	--normal: #000;
        --fonce: #101010;
	--noire: #333;
}
*{
	margin-left:0;
	padding-left:0;
	margin-right:0;
	padding-right:0;
}
body{
background: white;
color:black;
}
h1{
	text-align:center;
	font-size:24px;
}
nav{
	margin-top:-10px;
	padding-top:10px;
	width:100%;
height:4em;
	background-color:var(--fonce);
	color:white;
font-size:20px;
}
nav a{
margin-top:-10px;
	color:white;
background-color:var(--claire);
border:2px solid var(--fonce);
	text-decoration:none;
	float:right;
	padding:5px;
}
nav a:hover{
	background-color:var(--fonce);
border:2px solid var(--claire);
}
table { 
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/* Zebra striping */
tr:nth-of-type(odd) { 
    background-color: #f3f3f3;
    color:#000;
}
tr:nth-of-type(even) { 
    background-color: #009879;
    color: #fff;
    text-align: left;  
}
tr:nth-of-type(even) .money_sign{
	color:#000;
}
th { 
  background: var(--noire); 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid var(--normal); 
  text-align: center;
}
input[type=number]{
  width: 2em;
}
input,select,button{
	background-color:var(--claire);
	border:solid 1px var(--fonce);
	color:#000;
	max-width:140px;
}
.green{
background-color:var(--claire);
}
h3{
	font-size:20px;
	text-align:center;
}
hr{
	border:none;
}
input[type=submit]{
	border:1px solid var(--fonce);
	width:150px;
}
tr:nth-of-type(odd) input, tr:nth-of-type(odd) select{ 
  color:white;
}
@media screen and (max-width: 750px) {
	.up{
		display:none;
	}
	input[type=submit],input[type=date],select, button{
		width:125px;
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "ID"; text-align:center;}
	td:nth-of-type(2):before { content: "Etage"; text-align:center;}
	td:nth-of-type(3):before { content: "Prix"; text-align:center;}
	td:nth-of-type(4):before { content: "Position"; text-align:center;}
	td:nth-of-type(5):before { content: "Date"; text-align:center;}
	.btnx2{
		display:inline-block;
	}
}