:root{
    --main-bg-color: #a71d31;
    --main-blue: #f1f0cc;
    --main-color: #a71d31;
    --err-color: red;
    --second-bg: #8d775f;
}
body{
    background: var(--main-bg-color);
    color: var(--main-color);
    font-size:24px;
}

#login_container{
    display:flex;
    justify-content:center;
}

label{
    color: var(--main-blue);
    margin:5px;
    margin-left:0px;
}
input{
    color: var(--main-blue);
    border:solid 1px var(--second-bg);
    background-color:var(--main-bg-color);
    width:300px;
    font-size:24px;
}
input[type="submit"]{
    width: 200px;
    height: 50px;
    margin-top: 28px;
    margin-left: 15px;
    color: var(--main-blue);
    background-color:var(--main-bg-color);
}
input::placeholder{
    color: var(--main-blue);
    font-size:24px;
}
#input_container{
    display:flex;
    flex-direction: column;
}
#err{
    color: var(--err-color); 
    width:400px;
    font-size:25px;
    text-align:center;
    background-color: var(--second-bg);
}